<launch>

  <!-- Arguments -->
  <arg name="ugv_name" default="ugv01"/>
  <arg name="ugv_address" default="192.168.0.139"/>
  <arg name="ugv_username" default="ubuntu"/>
  <arg name="ugv_password" default="turtlebot"/>

  <!-- Machine -->
  <!-- <machine name="$(arg ugv_name)" address="$(arg ugv_address)" env-loader="/opt/ros/noetic/setup.sh" user="$(arg ugv_username)" password="$(arg ugv_password)" default="true"/> -->

  <!-- Vehicle Group -->
  <group ns="$(arg ugv_name)">

    <!-- Parameters -->
    <param name="topic_prefix" value="$(arg ugv_name)"/>

    <!-- Other -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
    <node pkg="messop_ugv" type="logger" name="messlogger" output="screen"/>
    <node pkg="messop_ugv" type="messop" name="messop" output="screen"/>

  </group>

</launch>
