<launch>

  <!-- Arguments -->
  <arg name="ugv_name" default="burger01"/>

  <!-- Vehicle Group -->
  <group ns="$(arg ugv_name)">

    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="lds_model" default="$(env LDS_MODEL)" doc="LDS MODEL [LDS-01, LDS-02]"/>

    <!-- Parameters -->
    <param name="topic_prefix" value="$(arg ugv_name)"/>

    <!-- Other -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
    <node pkg="messop_ugv" type="logger" name="messlogger" output="screen"/>
    <node pkg="messop_ugv" type="messop" name="messop" output="screen"/>

  </group>

</launch>
